<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Dodaj</title>
</head>
<body>
<a class="py-2 d-none d-md-inline-block" href="/">Strona główna</a>
<a class="py-2 d-none d-md-inline-block" href="/add">Dodaj</a>
<a class="py-2 d-none d-md-inline-block" href="/list">Lista</a>


<h1>Dodaj pracownika</h1>


<main role="main" class="container">
    <div class="starter-template">
        <form action="{{ url_for('addrec') }}" method="POST">

            Imię <br>
            <input type="text" name="name"/></br>

            Nazwisko<br>
            <input type="text" name="surname"/><br>

            Adres<br>
            <textarea name="address"></textarea><br>


            Numer pracownika<br>
            <input type="text" name="emp_number"/><br>

            <input type="submit" value="Zapisz"/><br>
        </form>
    </div>
</main>
</body>
</html>